<%-include("partials/header")-%>
    <div class="post">
        <h1 class="post-heading"><%= title %> </h1>
        <hr class="head-u-1">
        <div class="post-img-con">
            <img class="post-img" src=" <%= img %> " >
        </div>
        <p class="para"> <%= content %> </p>
        <h3 class="p-h-1"><%= title1 %></h3>
        <hr class="head-u-2">
        <p class="para"><%= desc1 %></p>
        <h3 class="p-h-1"><%= title2 %></h3>
        <hr class="head-u-2">
        <p class="para"><%= desc2 %></p>
        <h3 class="p-h-1"><%= title3 %></h3>
        <hr class="head-u-2">
        <p class="para"><%= desc3 %></p>
        <h3 class="p-h-1"><%= title4 %></h3>
        <hr class="head-u-2">
        <p class="para"><%= desc4 %></p>
    </div>
<%-include("partials/footer")-%>